.backdrop {
  background-color: var(--backdrop-backgrnd-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity var(--duration-1) var(--timing-function-1), visibility var(--duration-1) var(--timing-function-1);
}