.hero {
  margin-top: 0;
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 200px 0;
  color: var(--white-color);
  background-color: var(--banner-color);
  background-image: linear-gradient(var(--bckgrnd-over-color), var(--bckgrnd-over-color)), url(../images/bckg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__heading {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero__btn {
  display: flex;
  background-color: var(--bluelite-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  border: none;
  padding: 10px 32px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  cursor: pointer;
  transition: color var(--duration-1) var(--timing-function-1), background-color var(--duration-1) var(--timing-function-1), box-shadow var(--duration-1) var(--timing-function-1);
}

.hero__btn:hover {
  background-color: var(--btnhover-color);
}

.hero__btn:focus {
  background-color: var(--btnhover-color);
}