.logo {
  font-family: var(--additional-font-family);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--black-color);
  text-decoration: none;
  margin-right: 93px;
  padding: 24px 0 25px 0px;
}

.logo__word {
  color: var(--bluelite-color);
}