:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --banner-color: #2f303a;
  --white-color: #fff;
  --black-color: #000;
  --bluelite-color: #2196f3;
  --btnhover-color: #0b79d3;
  --bckgrnd-color: #f5f4fa;
  --border-bottom-color: #ececec;
  --border-card-color: #eee;
  --main-font-family: "Roboto", sans-serif;
  --additional-font-family: "Raleway", sans-serif;
  --bckgrnd-over-color: rgba(47, 48, 58, 0.4);
  --bckgrnd-title-color: rgba(47, 48, 58, 0.8);
  --backdrop-backgrnd-color: rgba(0, 0, 0, 0.2);
  --icon-color: #afb1b8;
  --bckgrnd-soc-color: rgba(255, 255, 255, 0.1);
  --border-input-email-color: rgba(255, 255, 255, 0.3);
  --timing-function-1: cubic-bezier(0.4, 0, 0.2, 1);
  --duration-1: 250ms;
  --bckgrnd-color-before: rgba(33, 150, 243, 0.9);
  --modal-border-color: rgba(0, 0, 0, 0.1);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}